<div class="crc-form">
<fieldset id = "the_fieldset">
   <legend><b>Electricity Reading</b></legend>
	<br />
	
	<table class="list_table">
	<tr>
	   <th>Gas Upload File</th>
	   <th>Meter</th>
	   <th>Entered By</th>
	   <th>Gas Value (kWh)</th>
	   <th>Start Time</th>
	   <th>End Time</th>
    </tr>

   <tr class="<%= cycle('odd','even') %>">
	<td><% if(@electricity_reading.electricity_upload.nil?) %> Manual Entry
<% else %>	
<%=h @electricity_reading.electricity_upload.filename %><% end %></td>
	<td><% if (@electricity_reading.meter.nil?) %>
			No Meter provided
		<% else %>
			<%=h @electricity_reading.meter.get_name %>
		<% end %>
	</td>
  <td><%=h @electricity_reading.user.username %></td>
  <td><%=h format_decimal(@electricity_reading.electricity_value) %></td>
  <td><%=h TimeUtils.to_uk_s(@electricity_reading.start_time) %></td>
  <td><%=h TimeUtils.to_uk_s(@electricity_reading.end_time) %></td>
	</tr>

		</table>
	</fieldset>
</div>

<br/>
		
<%= link_to 'Edit', edit_electricity_reading_path(@electricity_reading), :class => "edit_button nohover" %>
<%= link_to 'Back', electricity_readings_path, :class => "back_button nohover" %>