<%= link_to 'New meter_group', new_meter_group_path, :class => "new_button nohover" %>

<table>
  <tr>
	<th> Name </th>
  </tr>

<% @meter_groups.each do |meter_group| %>
  <tr>
	<td><%=h meter_group.node_entry.name %>
    <td><%= link_to 'Show', meter_group, :class => "show_button nohover" %></td>
    <td><%= link_to 'Edit', edit_meter_group_path(meter_group), :class => "edit_button nohover" %></td>
    <td><%= link_to 'Delete', meter_group, :class => "delete_button nohover", :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
