<p>
  <b>Meter identifier:</b>
  <%=h @meter.meter_identifier %>
</p>

<p>
  <b>Type of meter:</b>
  <%=h @meter.type_of_meter %>
</p>

<p>
  <b>Name:</b>
  <%=h @meter.node_entry.name %>
</p>


<%= link_to 'Edit', edit_meter_path(@meter), :class => "edit_button nohover" %> 
<%= link_to 'Back', meter_path, :class => "back_button nohover" %>