<%= render :partial => "shared/tabs" %>

<div id="content_tabs">

<%= render :partial => "shared/filters", :locals => {:electricity_page => true} %>
	
<div id="dialog" title="Related Documents">
	<p><a href="/document_uploads" class="uploaded_documents_query_link">View related documents</a></p>
	<p><a href="/document_uploads/new">Upload new document</a></p>
</div>
	
<script>
$(document).ready(function() {

	$("#electricity_summary_tab").attr("id","selected_tab")

	// Data generated from backend server

	<%=h @data %>
    
    // Parameters passed in for the Summary Graph

	var xTitle = 'Total Electricity Usage';
	var yTitle = 'kW hours';
    var document_type = 'Electricity%20Readings';

    // create the master chart
    masterChart = generate_summary_graph(data, <%= @max_min[1] %>, <%= @max_min[0] %>, xTitle, yTitle, document_type);
   
});

</script>
</div>