<div class="crc-form">
<fieldset>
	<legend>Document Uploads</legend>
	<br />
	
	<table class="list_table">
	<tr>
	   <th>Name</th>	
	   <th>Start Date</th>
	   <th>End Date</th>
	   <th>Uploaded By</th>
	   <th>Document Type</th>
	   <th>Purchase Order No.</th>
	   <th>Download</th>
    </tr>

	<tr class="<%= cycle('odd','even') %>">
		<td><%=h @document_upload.name %>
		<td><%=h TimeUtils.to_uk_s(@document_upload.start_date) %></td>
		<td><%=h TimeUtils.to_uk_s(@document_upload.end_date) %></td>
		<td><%=h @document_upload.user.username %></td>
		<td><%=h @document_upload.document_type.name %></td>
		<td><%=h @document_upload.purchase_order_number %></td>
		<td><a href="<%=h @document_upload.public_filename(thumbnail = nil) %>" class="blank_button">Download <%=h @document_upload.filename %></a></td>
	</tr>
	</table>
</fieldset>
</div>
<br />

<%= link_to 'Edit', edit_document_upload_path(@document_upload), :class => "edit_button nohover"%>
<%= link_to 'Back', document_uploads_path, :class => "back_button nohover" %>