<%= render :partial => "shared/tabs" %>


<script>
  $(document).ready(function() {
  $(".datepicker").datepicker();
  	$("#carbon_start_date").datepicker({
		onSelect: function(selectedDate) {
			the_date = '31/12/'+$("#carbon_start_date").val().split('/')[2];
			$("#carbon_end_date").val('31/12/'+$("#carbon_start_date").val().split('/')[2]);
			$("#carbon_end_date").datepicker('option', 'maxDate', the_date)
		}
	});
	 $("#carbon_end_date").datepicker({maxDate:'31/12/'+$("#carbon_start_date").val().split('/')[2]});
  });
	
</script>
<div id="content_tabs">
  <div id = "start_end_filters" class = "aesthetics">
	  <div id = "choose_start_end">Choose Time Period</div>
		<% form_tag({:action => "carbon_gas_detail"}, {:id => "select_filters"}) do %>
			Start date:
			<%= text_field_tag :selected_start_date, @current_selected_start_date, :class => 'datepicker2' ,:id=>"carbon_start_date" %>
	&nbsp &nbsp
			End date:
			<%= text_field_tag :selected_end_date, @current_selected_end_date, :class => 'datepicker1',:id=>"carbon_end_date" %>
	&nbsp
			<%= submit_tag 'Filter', :class => "submit_button" %>
	  <% end %>
   
</div>

<br /><br />	
<%= render :partial => "shared/sub_tab" %>	

  <div id="sub_content_tabs">
	
	<%= render :partial => "shared/carbon_gas_detail_graph_accordion"%>
  </div>
	<%#= render :partial => "shared/gas_detail_graph_accordion"%>

</div>

</br>

 <script type="text/javascript" src="/javascripts/column_ggraphs.js"></script>

<script>

$(document).ready(function() {
	$("#carbon_detail_tab").attr("id","selected_tab");
	$("#carbon_gas").attr("id","selected_tab");
		
	
/***************Function calls for each graph********/

	//day
	<%=h @day_data %>
	<%=h @day_categories %>
	generate_column_ggraph('day_graph','Emission by Day', data, categories)

 	//month
	<%=h @month_data %>
	<%=h @month_categories %>
	generate_column_ggraph('month_graph','Emission by Month', data, categories)

 	//year
	<%=h @year_data %>
	<%=h @year_categories %>
	generate_column_ggraph('year_graph','Emission by Year', data, categories)
 

 	//meter
	<%=h @meter_data %>
	<%=h @meter_categories %>
	generate_column_graph('meter_graph','Emission by Meters', data, categories)

	
	//meter groups	
	<%=h @meter_group_data %>
	<%=h @meter_group_categories %>	
	generate_column_ggraph('metergroup_graph', 'Emission by Meter Group' , data, categories)	
	
	//location
	<%=h @location_data %>
	<%=h @location_categories %>	
	generate_column_ggraph('location_graph', 'Emission by Location' , data, categories)

	//region
	<%=h @region_data %>
	<%=h @region_categories %>	
	generate_column_ggraph('region_graph', 'Emission by Region' , data, categories)

	//country
	<%=h @country_data %>
	<%=h @country_categories %>	
	generate_column_ggraph('country_graph', 'Emission by Country' , data, categories)

});

</script>